/* ---------- Sign Up/Log In ---------- */

span#noscript {
    color: red;
    font-size: small;
}
.sign-up-and-log-in.content {
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.sign-up-and-log-in.login-tabs {
	margin-bottom: 4rem;
}

.login-tabs {
	border: 1px solid #CCCCCC;
}
/*
.login-tabs li {
	width: 50%;
	text-align: center;
}*/
.login-tabs li.active {
	background-color: #C8C8C8;
}

.tabs-content {
	border-top: 1px solid #CCCCCC;
	/*padding: 0 1rem 0;*/
}
.tabs-content .content {
	float: none;
	padding-bottom: 0;
}
.tabs-content, .tabs-content form {
	margin: 0;
}
.g-recaptcha {
	margin: 0 auto 1rem auto;
	width: 304px;
}

/* ---------- Communities Settings ---------- */
.communities-settings section {
	margin-bottom: 1rem;
}

.communities-settings section form {
	margin-bottom: 0;
}

/* ---------------- Wizard ----------------- */
.wizard-tabs {
	margin: 0;
	border: 1px solid #CCCCCC;
}
.wizard-tabs li.active {
	background-color: #C8C8C8;
}
